.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 120px;
}

.contact-details .social-links {
    padding-top: 50px;
    padding-bottom: 50px;
}
.contact-details .social-links ul.social-list {
    list-style: none;
    padding: 0;
}

.contact-details .social-links ul.social-list li {
    padding-bottom: 20px;
}

.contact-details .social-links ul.social-list .social-icon {
    font-size: 15px;
    color: var(--secondary-color);
}
.contact-details .social-links ul.social-list .social-text {
    color: var(--secondary-color);
    padding-left: 30px;
    margin-top: -20px;
    font-weight: 600;
    font-size: 14px;
}