.footer-container {
    display: flex;
    padding-top: 25px;
    margin-top: 50px;
    padding-bottom: 25px;
    align-items: center;
}

.footer-links, .footer-copyright {
    flex-basis: 50%;
}

.footer-links {
    margin-left: -40px;
}

.footer-links ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

.footer-links ul li.footer-item {
    font-weight: bold;
    font-size: 80%;
}

.footer-links ul li.footer-item a {
    text-decoration: none;
    color: var(--secondary-color);
}

.footer-copyright  p{
    color: #888;
    font-size: 14px;
    text-align: right;
}